#ssl = required
#ssl_cert = </etc/ssl/{{ domain }}_fullchain.pem
#ssl_key = </etc/ssl/private/{{ domain }}_private.pem
#ssl_cipher_list = ALL:HIGH:!SSLv2:!MEDIUM:!LOW:!EXP:!RC4:!MD5:!aNULL:@STRENGTH
#ssl_prefer_server_ciphers = yes
#ssl_protocols = !SSLv2 !SSLv3 !TLSv1 !TLSv1.1
