## PKI
pki {{ domain }} cert		"/etc/ssl/{{ domain }}_fullchain.pem"
pki {{ domain }} key		"/etc/ssl/private/{{ domain }}_private.pem"

## Filters
filter check_dyndns phase connect match rdns regex { '.*\.dyn\..*', '.*\.dsl\..*' } \
	disconnect "550 no residential connections"

filter check_rdns phase connect match !rdns \
	disconnect "550 no rDNS"

filter check_fcrdns phase connect match !fcrdns \
	disconnect "550 no FCrDNS"

#filter senderscore \
#	proc-exec "filter-senderscore -blockBelow 10 -junkBelow 70 -slowFactor 5000"

filter rspamd proc-exec "filter-rspamd"

## Tables
table aliases			file:/etc/mail/aliases
table domains			file:/etc/mail/domains
table passwd			passwd:/etc/mail/passwd
table virtuals			file:/etc/mail/virtuals
table blacklist-recipients	file:/etc/mail/blacklist-recipients

## Limits
smtp max-message-size 50M

## Ports
listen on all tls pki {{ domain }} hostname {{ domain }} \
        filter { check_dyndns, check_rdns, check_fcrdns, rspamd }
listen on all smtps pki {{ domain }} hostname {{ domain }} \
        auth <passwd> filter rspamd
listen on all port submission tls-require pki {{ domain }} \
        hostname {{ domain }} auth <passwd> mask-src filter rspamd

## Actions
action "mda_with_aliases" mda \
	"/usr/local/bin/rspamc --mime -e '/usr/local/libexec/dovecot/dovecot-lda -f %{sender} -d %{dest}'" \
	alias <aliases> user vmail

action "mda_with_virtuals" mda \
	"/usr/local/bin/rspamc --mime -e '/usr/local/libexec/dovecot/dovecot-lda -f %{sender} -d %{dest}'" \
	virtual <virtuals> user vmail

action "mda_without_rspamd" mda \
	"/usr/local/libexec/dovecot/dovecot-lda -f %{sender} -d %{dest}" \
	virtual <virtuals> user vmail

action "relay" relay

match from any mail-from <blacklist-recipients> for domain <domains> reject
match for local action "mda_with_virtuals"
match auth from any for domain <domains> action "mda_without_rspamd"
match from any for domain <domains> action "mda_with_virtuals"
match from local for any action "relay"
match auth from any for any action "relay"
