abuse@{{ domain }}		{{ mail_user }}@{{ domain }}
postmaster@{{ domain }}		{{ mail_user }}@{{ domain }}
webmaster@{{ domain }}		{{ mail_user }}@{{ domain }}
root@{{ domain }}		{{ mail_user }}@{{ domain }}
{{ mail_user }}@{{ domain }}	vmail

user2@foobar.org		{{ mail_user }}@{{ domain }}
user2@foobar.org		{{ mail_user }}@{{ domain }}
root@foobar.org			{{ mail_user }}@{{ domain }}
